*{
  font-family: 'Roboto', sans-serif;
}

body{
  margin: 0;
}

.pageContainer{
  display: grid;
  grid-template-rows: 150px 1fr;
  font-size: 24px;
  background-color: #F7FFDD;
}

.headerContainer{
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 250px 1fr;
  justify-items: center;
  align-items: center;
  justify-content: center; 
  text-align: center;
  column-gap:20px;
  align-content: center; 
  background-color: #D0E3CC;
  padding: 1rem;
}

.logo{
  grid-column: 1/2;
  font-size: 6rem;
}

.title{
  grid-column: 2/3;
  font-size: 4rem;
  font-style: italic;
}
.title p{
  margin: 0;
}

.cardGridContainer{
  grid-row:2/3;
  background-color: #F7FFDD;
  gap: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
  align-items: center;
  justify-items: center;
}

.bookCard{
  background: #FCFDAF;
  box-shadow: 8px 7px 12px 3px rgba(0, 0, 0, 0.3);
  padding: 0.8rem;
  border-radius: 0.8rem;
  width: clamp(250px, 350px, 400px);
  height: clamp(200px, 300px, 350px);
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.2rem;
}

.bookCardRead{
  background: #D0E3CC;
  box-shadow: 8px 7px 12px 3px rgba(208, 227, 204, 0.7);
  padding: 0.8rem;
  border-radius: 0.8rem;
  width: clamp(250px, 350px, 400px);
  height: clamp(200px, 300px, 350px);
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.2rem;
  color: white;
}

.btnRead{
  border:none;
  background: none;
  border-radius: 1em;
  font-size: 2rem;
  width: 70%;
  justify-self: center;
  grid-area: 5/1/6/2;
}

.btnRead:hover {
  transition: 0.3s;
  transform: translateY(-3px);
  text-decoration: underline wavy;
}

.btnDelete{
  border:none;
  background: none;
  border-radius: 1em;
  font-size: 2.4rem;
  width: 40%;
  justify-self: center;
  display: grid;
  align-self:center;
  grid-area: 5/2/6/3;
}

.btnDelete:hover {
  transition: 0.3s; 
  transform: translateY(-3px) rotate(15deg);
}

.btnDelete:active {
  transition: 0.05s; 
  transform: translateY(-4px) rotate(-20deg);
}

.cardTitle{
  grid-area: 1/1/2/2;
}
.cardAuthor{
  grid-area: 2/1/3/2;
}
.cardPages{
  grid-area: 3/1/4/2;
}
.cardRead{
  grid-area: 4/1/5/2;
}